@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: 'Kumbh Sans';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #202124;
}

h1,
h2,
h3{
  font-family: 'Bitter';
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 14px;
  background: linear-gradient(#7F7B82, #1c162e);
  gap: 14px;
}

header {
  display: flex;
  align-items: stretch;
}

header,
.main {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  gap: 14px;
}

header input {
  flex: 1;
  border-radius: 14px;
  outline: none;
  width: 100%;
}

header button {
  border-radius: 14px;
  background: transparent;
  transition-duration: 200ms;
  cursor: pointer;
}

header button:hover {
  opacity: 0.7;
}

header button,
header input {
  padding: 14px 18px;
  border: none;
  outline: none;
  background: white;
}

h2{
  text-align: center;
  font-size: 4rem;
  margin-bottom: 3rem;
  font-family: 'Bitter';
  color: #BFACB5;
}

p {
  font-size: 0.9em;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

span {
  color: #202124;
}

.shiny-effect {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;
  background: radial-gradient(circle, rgba(178, 19, 202, 0.2), transparent 70%);
}


@media (min-width: 640px) {

  header button,
  header input {
    font-size: 1.2em;
  }

  p {
    font-size: 1em;
  }
}


.bggrad1 {
  background: linear-gradient(#726d76, transparent);
	height:10vh;
}

.nav{
  color: #BFACB5;
  &:hover{
    color: #343545;
  }
}

.projects{
  display: grid;
  justify-content:center;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 2rem;
  padding: 1rem;
  overflow: hidden;

  .project{
    padding: 2rem 1.8rem;
    margin: auto;
    background-color: #232430;
    border-radius: 1.2rem;
    transition: 0.25s;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #FFF;
    &:hover{
      transform: translateY(-5px);
      background-color: #343545;
    }

    header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 3.6rem;
      .project-links{
        display: flex;
        align-items: center;
        gap: 1rem;
      }
      a > img {
        width: 5.0rem;
      }
    }
    
    h3{
      font-size: 1.7rem;
      margin-bottom: 2rem;
    }

    p{
      /*letter-spacing: 0.12rem;*/
      margin-bottom: 2rem;

        font-family: 'Kumbh Sans';
      a{
        color: #FFFF;
        border-bottom: 1px solid var(--green);
        transition: color 0.25s;
      }
    }

    

    footer{
      margin-top: auto;

      .tech-list{
        margin-top: auto;
        display: flex;
        align-items: center;
        gap: 2rem;
        font-size: 1rem;
        font-family: 'Kumbh Sans';
        opacity: 0.6;
      }
    }

  }
}

.abt{
  display: inline-block;
  text-align: left;
}